* {
    font-size: 16px;
}

  
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: autogit;
  }
  
  #customers td, #customers th {
    border: 1px solid #a19696;
    padding: 8px;
  }
  

.search-btn:hover {
    transition: all 0.5s ease;
}           
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  #customers tr:hover {background-color: #525050;
color: whitesmoke;}
   #customers td:nth-child(even) :hover{background-color: red;}
   #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
